opencv-python==4.13.0.90
numpy==2.4.1
scipy==1.17.0
tqdm==4.67.1
mediapipe==0.10.32
onnxruntime==1.23.2
protobuf==6.33.4
absl-py==2.3.1
sounddevice==0.5.4
flatbuffers==25.12.19
opencv-contrib-python==4.13.0.90
matplotlib==3.10.8
cffi==2.0.0
coloredlogs==15.0.1
humanfriendly==10.0
packaging==26.0
pillow==12.1.0
python-dateutil==2.9.0.post0
six==1.17.0
sympy==1.14.0
mpmath==1.3.0
pycparser==3.0
fonttools==4.61.1
kiwisolver==1.4.9
contourpy==1.3.3
cycler==0.12.1
pyparsing==3.3.2
